html { overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; margin: 0; outline: 0; padding: 0; font-family: 'PT Sans', sans-serif; }

* { position: relative; }

.trans { -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

body { overflow: hidden; margin: 0; outline: 0; padding: 0; background: rgba(255,255,255,1); }

article, aside, details, figcaption, figure, footer, header, main, nav, section { display: block; }

a { outline: 0; text-decoration: none; position: initial; }

a:focus { outline: 0; }

a:hover, a:active { outline: 0; text-decoration: none; }

img { width: 100%; display: block; margin: 0; }

hr { display: inline-block; border: 0; width: 100%; height: 1px; background: rgba(0,0,0,0.1); margin: 20px 0; }

:focus { outline: 0; }
::-moz-selection { background: rgba(93,158,24,1); color: rgba(255,255,255,1); }
::selection { background: rgba(93,158,24,1); color: rgba(255,255,255,1); }
code::-moz-selection { background: rgba(93,158,24,1); color: rgba(255,255,255,1); }
code::selection { background: rgba(93,158,24,1); color: rgba(255,255,255,1); }

.clear { clear: both; }

strong { font-weight: 700 !important; }

/* ----- GERAL ----- */
.wrapper { margin: 0 auto; max-width: 1360px; width: 100%; }
.hide-me { visibility: hidden; opacity: 0; }
.searched .hide-me { visibility: visible; opacity: 1; }

/* ----- HEADER ----- */
header { position: fixed; width: 100%; z-index: 9; }
header .logo { width: 100%; padding: 10px; background: rgba(93,158,24,1);}
header .logo img { max-width: 60px; margin: 0 auto; }

.search-box { text-align: center; max-width: 200px; margin: 20px auto; }
.search-box .icon-user { font-size: 30px; color: rgba(0,0,0,0.3); }
.search-box h5 { margin: 0 0 20px; font-size: 20px; letter-spacing: -1px; font-weight: 900; color: rgba(0,0,0,0.4); }

input:not([type]), input[type=text]:not(.browser-default) { border: 0; height: auto; background: rgba(0,0,0,0.1); box-sizing: border-box; width: calc(100% - 65px) !important; width: -webkit-calc(100% - 65px) !important; width: -moz-calc(100% - 65px) !important; margin: 0; padding: 8px !important; float: left; }
input[type="button"] { color: rgba(0,0,0,1); background: rgba(245,245,245,1); border: 0; margin: 0; padding: 9px; font-weight: 900; letter-spacing: 1px; line-height: 16px; width: 55px !important; display: inline-block; font-size: 10px !important;float: right; }
input[type="button"]:hover { background: rgba(235,235,235,1); }

/* ----- COM CONTEUDO ----- */
.searched header .logo { background: rgba(0,112,74,1); }
.searched header .logo img { margin: 0; }

.searched .search-box { position: absolute; top: 10px; left: 80px; height: 50px; width: 100%; max-width: 220px; padding: 7px; margin: 0; }
.searched .search-box .icon-user { font-size: 25px; color: rgba(255,255,255,1); float: left; margin: 0 10px 0 0; }
.searched .search-box h5 { display: none; }
.searched input:not([type]), .searched input[type=text]:not(.browser-default) { display: inline-block; margin: 0 10px 0 0; width: 105px !important; background: rgba(255,255,255,1); }

@media only screen and (min-width: 768px) {
header { height: 100%; padding: 0; margin: 0; background:url(http://petnativa.com.br/assets/imgs/header-home.jpg); background-position: center; background-size: cover; background-repeat: no-repeat; }
header .logo { width: 170px; height: 170px; padding: 45px 20px 45px 40px; margin: 0 auto; position: absolute; top: 40px; left: 40px;  -webkit-border-top-left-radius: 85px; -webkit-border-bottom-left-radius: 85px; -moz-border-radius-topleft: 85px; -moz-border-radius-bottomleft: 85px; border-top-left-radius: 85px; border-bottom-left-radius: 85px;  }
header .logo img { max-width: none; }

.search-box { margin: 0; padding: 25px 20px; color: rgba(0,0,0,1); background: rgba(255,255,255,1); position: absolute; top: 40px; left: 230px; height: 170px; }

/* ----- COM CONTEUDO ----- */
.searched header { height: 70px; background: rgba(0,112,74,1); -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
.searched header .logo { width: 100px; height: 100px; padding: 25px 15px; top: -15px; left: 15px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; }
.searched .space { height: 70px; }

.searched .search-box { background: rgba(255,255,255,0); left: 130px; max-width: 300px; }
.searched input:not([type]), .searched input[type=text]:not(.browser-default) { width: 185px !important; }
}

/* ----- ESPAÇO POR TRAZ DA HEADER ----- */
.space { height: 60px; }

/* ----- ASIDE ----- */
aside { width: 100%; padding: 20px 20px 0; }
aside img.profile { border: 1px solid rgba(93,158,24,0.3); margin: 0; width: 100px; padding: 4px; }
aside img.profile:hover { border: 1px solid rgba(93,158,24,1); }
.user-numbers { width: 160px; padding: 0 0 0 20px; }
aside .user { text-align: left; }
aside .user .name { display: block; font-size: 18px; line-height: 18px; font-weight:700; margin:0 0 5px; color: rgba(93,158,24,1); }
aside .user .login { display: block; margin: 0 0 10px; }
aside .row { margin-bottom: 0 !important; }
aside .more-data-bio { display: block; text-align: center; color: rgba(0,0,0,0.3); cursor: pointer; padding: 10px 0; }
aside .data-bio .data-bio { width: 100%; visibility: visible; opacity: 1; height: auto; }
aside .data-bio.notselected { visibility: hidden; opacity: 0; height: 0; }

@media only screen and (min-width: 768px) {
aside { width: 250px; padding: 30px; }
aside img.profile { margin: 0 0 20px 0; width: 100%; }
aside .user { text-align: center; }
aside .user .name { font-size: 22px; line-height:22px; }
aside .user .login { margin:0 0 20px; }
aside .numbers div { text-align: center; color: rgba(93,158,24,1); }
aside .numbers .number { font-size: 12px; color: rgba(0,0,0,1); font-weight: 700; }
aside .data { font-size: 12px; }
aside .bio, aside .bio p { font-size: 12px; line-height: 16px; margin: 0 0 30px; }
aside .bio, aside .bio p { margin: 0; }
}

/* ----- MAIN */
main { width: calc(100% - 250px); width: -webkit-calc(100% - 250px); width: -moz-calc(100% - 250px); padding: 30px; }

.public-repos { display: block; width: 100%; margin: 0 0 20px; border: 1px solid rgba(93,158,24,1); -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; }
.title { display: block; width: 100%; border-radius: 8px; }

.see-more, .repos-name, .watch, .star,  .fork, .link { width: 60px; text-align: center; font-size: 14px; line-height: 40px; background: rgba(0,0,0,0.04);}
.see-more { -webkit-border-top-left-radius: 8px; -webkit-border-bottom-left-radius: 8px; -moz-border-radius-topleft: 8px; -moz-border-radius-bottomleft: 8px; border-top-left-radius: 8px; border-bottom-left-radius: 8px; }
.link { -webkit-border-top-right-radius: 8px; -webkit-border-bottom-right-radius: 8px; -moz-border-radius-topright: 8px; -moz-border-radius-bottomright: 8px; border-top-right-radius: 8px; border-bottom-right-radius: 8px; }

.watch i, .star i, .fork i { padding: 0 5px 0; }
.see-more { cursor: pointer; font-size: 22px; }
.repos-name { width: calc(100% - 260px); text-align: left; padding: 0 10px }
.repos-name, .watch, .star, .fork, .link { border-left: 1px solid rgba(93,158,24,1); }
.see-more, .link { width: 40px; }
.link a { color: rgba(93,158,24,1); }

.public-repos.icon-select .content { visibility: hidden; opacity: 0; height: 0; padding: 0; border: 0; }
.public-repos.icon-selected .content { visibility: visible; opacity: 1; height: auto; padding: 15px; border-top: 1px solid rgba(93,158,24,1); }

.content h4 { font-weight:700; margin: 0 0 20px; color:rgba(93,158,24,1); }

.public-repos.icon-selected .title { -webkit-border-top-left-radius: 8px; -webkit-border-top-right-radius: 8px; -moz-border-radius-topleft: 8px; -moz-border-radius-topright: 8px; border-top-left-radius: 8px; border-top-right-radius: 8px; }
.public-repos.icon-selected .see-more i { transform: rotate(180deg) ; }
.public-repos.icon-selected .see-more { -webkit-border-bottom-left-radius: 0; -moz-border-radius-bottomleft: 0; border-bottom-left-radius: 0; }
.public-repos.icon-selected .link { -webkit-border-bottom-right-radius: 0; -moz-border-radius-bottomright: 0; border-bottom-right-radius: 0; }

.sort { display: block; margin: 0 40px 20px; border: 1px solid rgba(0,0,0,0.1); border-radius: 5px; background: rgba(0,0,0,0.02); }
.sort-name, .sort-watch, .sort-star, .sort-fork { float: left; width: 60px; padding: 10px; border-left: 1px solid rgba(0,0,0,0.09); font-size: 14px; color: rgba(0,0,0,0.3); }
.sort-name { border-left: 0; }
.sort-click { color: rgba(0,0,0,1); cursor: pointer; display: inline-block;font-size: 14px; width: 8px; text-align: center }
.sort i.icone { width: 15px; text-align: center; }
.sort-name .sort-click { width: 18px; }

/* ----- RESPONSIVO ----- */
@media only screen and (max-width: 767px) {
main { width: 100%; padding: 20px; }

.see-more, .repos-name, .watch, .star, .fork, .link { width: calc(33.333% - 10px); font-size: 12px; line-height: 30px; }
.watch i, .star i, .fork i { padding: 0; }
.see-more { border-left: 1px solid rgba(93,158,24,1); font-size: 18px; float: right !important; }
.see-more, .link { width: 30px; }
.repos-name { width: calc(100% - 30px); padding: 0px 8px; }
.repos-name, .watch {border-left: 0;}

.repos-name, .see-more { border-bottom: 1px solid rgba(93,158,24,1); }
.see-more, .link { -webkit-border-top-right-radius: 0; -webkit-border-bottom-right-radius: 0; -moz-border-radius-topright: 0; -moz-border-radius-bottomright: 0; border-top-right-radius: 0; border-bottom-right-radius: 0; -webkit-border-top-left-radius: 0; -webkit-border-bottom-left-radius: 0; -moz-border-radius-topleft: 0; -moz-border-radius-bottomleft: 0; border-top-left-radius: 0; border-bottom-left-radius: 0; }
.content h4 { font-size: 20px; line-height: 20px; }
.sort {margin: 0 0 20px;}
.sort-name, .sort-watch, .sort-star, .sort-fork { padding: 5px 10px;}
}